<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Chromosome">
      <mat-header-cell *matHeaderCellDef> Chromosome </mat-header-cell>
      <mat-cell *matCellDef="let variant"> {{variant.chrom}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let variant"> {{variant.pos}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="rsid">
      <mat-header-cell *matHeaderCellDef> RSID </mat-header-cell>
      <mat-cell *matCellDef="let variant"> {{variant.rsid}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Hits">
      <mat-header-cell *matHeaderCellDef> Hit Count </mat-header-cell>
      <mat-cell *matCellDef="let variant"> {{variant.count}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  