<div class="container" id="page-container">
  <div class="jumbotron" id="main-jumbo" [ngClass]="{'vertical-center': !searchResults}">
    <h2 id="main-title"><span class="heading-contain"><span id="my-dis">MyDisease.info</span> Explorer</span></h2>
    <h5 id="main-jumbo-description"><span class="heading-contain">Explore articles, genes, and genetic variants associated with a specific disease</span></h5>
    <br>
    <div class="input-group md-form form-sm form-2 pl-0">
        <input id="disease-search-input" placeholder="Search for disease" class="form-control my-0 py-1 red-border" (keyup.enter)="searchForDisease($event)" [(ngModel)]="searchInputValue">
        <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
            aria-hidden="true" (click)="searchForDiseaseButton()"></i></span>
    </div>
  </div>
  <div class="col-12 search-results-div no-padding padding-40" [ngClass]="{'show-results': searchResults}">
    <div class="panel">
      <div class="panel-heading search-heading"><h5>Search Results for <b id="search-term">{{searchTerm}}</b>:</h5>
        <i *ngIf="!results_returned">No results, please check spelling or try alternative disease name</i>
      </div>
      <div class="panel-body search-body">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="results_returned">
          <label class="form-check-label btn btn-secondary search-buttons" for="exampleRadios1" *ngFor="let result_name of result_names; index as i" value={{i}} (click)="handleRadioChange($event)">
            <input class="form-check-input" type="radio" name="nameRadios" value={{i}} (click)="handleRadioChange($event)">
            {{result_names[i]}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="main-gene-div" class="col-md-12 col-lg-12 padding-40">
      <div *ngIf="current_disease" class="panel col-md-12 col-lg-12">
        <div class="panel-heading heading-underline">
          <h5>
            <span class="red-text">
              Gene<span *ngIf="current_disease.disgenet.genes_related_to_disease">
                    <span *ngIf="current_disease.disgenet.genes_related_to_disease.length > 1">s</span>
                  </span>
            </span><span *ngIf="current_disease_name"> Related to {{current_disease_name}}</span>:
          </h5>
        </div>
        <div class="panel-body gene-list-panel-body">
          <div class="col-md-12 col-lg-3">
            <div class="panel-heading" id="related-gene-div">
              <h5>
                Gene<span *ngIf="current_disease.disgenet.genes_related_to_disease">
                  <span *ngIf="current_disease.disgenet.genes_related_to_disease.length > 1">s</span>
                </span>
                  <span *ngIf="current_disease.disgenet.genes_related_to_disease"> ({{current_disease.disgenet.genes_related_to_disease.length}})</span>:
              </h5>
            </div>
            <div id="gene_table_content">
              <ul class="list-group" >
                <li (click)="geneSearch(gene.gene_name)" *ngFor="let gene of current_disease.disgenet.genes_related_to_disease;" class="list-group-item">{{gene.gene_name}} <span class="right-caret">></span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-lg-9" id="gene-ideo-div-outer">
            <div class="panel-heading gene-mapping-panel-heading">
              <h5>
                Chromosomal Gene Mapping: 
                <span *ngIf="NoGeneSelected && !(NotMappable)"><i>please select gene</i></span>
                <span *ngIf="NotMappable"><i>{{NotMappable}} not mappable</i></span>
                <span *ngIf="currentSearchGene.name">{{currentSearchGene.name}}, {{currentSearchGene.description}}</span>
              </h5>
            </div>
            <div id="gene-ideo-div">
              <div id="gene-ideo-container"></div>
            </div>
            <div id="legend-div">
              <span id="gene-legend-key" class="arrow-right">&#x25BA;</span> = Gene
              <br>
              <span id="ixn-legend-key" class="arrow-right">&#x25BA;</span> = Interacting Genes
            </div>
          </div>

        </div>
      </div>
  </div>


  <div [ngClass]="{'ideogram_div' : !current_disease}" class="panel gene_var_panel col-12 padding-40">
      <div class="panel-body gene_var_panel_body col-md-12">
        <div class="panel-heading heading-underline margin-20-bottom">
          <h5>
          <span class="red-text">
            Variants ({{current_variant_array.length}})
          </span>
            Related to {{current_disease_name}}:
          </h5>
        </div>
        <div class="col-md-5 col-lg-5">

          <ul class="list-header">
            <li class="list-group-item list-header-item variant-table-header">
            <span class="list-spacing align-center"><b>Chrom</b></span>
            <span class="list-spacing align-center"><b>Position</b></span>
            <span class="list-spacing align-center"><b>RSID</b></span>
            <span class="list-spacing align-center"><b>Hit Count</b></span>
            </li>
          </ul>
          <div id="variant_table_content">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let variant of current_variant_array;">
                <span class="list-spacing align-center">{{variant.chrom}}</span>
                <span class="list-spacing align-center">{{variant.pos}}</span>
                <span class="list-spacing align-center"><a target="_blank" href="{{'https://www.ncbi.nlm.nih.gov/snp/' + variant.rsid}}">{{variant.rsid}}</a></span>
                <span class="list-spacing align-center">{{variant.count}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 no-right-padding">
          <div class="panel-heading">
            <h5>Chromosomal Variant Mapping: </h5>
          </div>
          <div>
            
            <div id="ideo-container" class="col-md-12 ideo-ok"></div>
          </div>
        </div>
      </div>
    </div>
 



</div>
<!-- 
<ngbd-table-pagination *ngIf="current_disease"></ngbd-table-pagination> -->
